{% extends "template.html" %}


{% block prog %}

  <div class="progress-bar" role="progressbar" aria-valuenow=25 aria-valuemin="0" aria-valuemax="100" style="width: 25%;">

          <span class="sr-only">25% Complete</span>

  </div>

{% endblock %}


{% block body %}

<div class = "container">
    
    <div class="content">
        

    <form  method='POST' action="{{ url_for('minor') }}">

        <label for="major1">Major</label>
        <input class="awesomplete" list="mylist" name="major1" type="text"/>
            <datalist id="mylist">
                <option>Undecided</option>
            </datalist>
            <br />


        <label for="major2">Major</label>
        <input class="awesomplete" list="mylist" name="major2" type="text" />
            <datalist id="mylist">
                <option>Undecided</option>
            </datalist>
            <br />

        <input type = "submit" class="btn btn-primary btn-lg" value="Submit">
       
            
    </form>


    </div>

</div>






{% endblock %}